.form-control {
   border: 0;
  border-bottom: 1px solid @input-border;
  color: @text-color;
  padding: 2px;
  width: 100%;
  font-size: @font-size-base;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15);
}
